body {
    background-color: lightgray;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}

.profile {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border: 3px solid blue;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid blue;
}

.bio {
    padding: 20px;
    background-color: lightblue;
    border: 2px solid gray;
}

footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 20px;
}